<!DOCTYPE html>
<html>
  <head>
    <title>Save Hot Dogs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <section id="content" class="type-system-rounded">
      <h1 class="site-title"><a href="<%= root_path %>">Hot Dogs</a></h1>

      <%= yield %>
  </body>
</html>
